.group-main{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 14px;
    padding-top: 20px;
}
.main--coffe {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    
}
.main--about-catalog {
    font-family: 'Merienda', cursive;
    font-size: 14px;
    padding-top: 15px;
}
.main--about--aside {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.main--text {
    font-family: 'Merienda', cursive;
    font-size: 24px ;
   
}
.main--text--mass {
    margin-top: 80px;
}
.main--img {
    margin-top: 70px;
    height: 355px;
    width: 272px;
}
.main--line--img {
    margin-top: 60px;
    margin: 0 auto;
}