.card {
    height: 260px;
    width: 220px;
    font-family: 'Merienda', cursive;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;

}
.card img {
    max-height: 115px;
    max-width: 115px;
    display: flex;
    margin: 0 auto;
    padding-top: 37px;
}
.card h1 {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding-top: 14px;
}
.card h2 {
    font-size: 14px;
    text-align: right;
    margin-right: 27px;
    padding-top: 14px;
}
.card h3 {
    font-size: 14px;
    text-align: right;
    margin-right: 27px;
    padding-top: 14px;
}