@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
.head--nav--Catalog {
    font-family: 'Merienda', cursive;
}
.head--list--Catalog {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    color: #FFFFFF;
    font-size: 12px;
    padding-left: 149px;
}
.head--Catalog {
    background-image: url(../img/Mainbg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-top: 30px;
    height: 640px;
}
.head--list--Catalog a {
    text-decoration: none;
    list-style-type: none ;   
    color: #FFFFFF;
    font-size: 12px;
}
.head--list--Catalog li {
    text-decoration: none;
    list-style-type: none ;  
    font-size: 12px;
    cursor: pointer;
}
.logo-text--Catalog {
    display: flex;
    align-items: flex-end;
}
.logo-text--Catalog li {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    cursor: pointer;
   
}
.logo-text--Catalog img {
    height: 35px;
    width: 35px;
}
.coffe-rows--Catalog {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}
.head--Catalog {
    background-image: url(../img/bg2.jpg);
    height: 260px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.head--text--Catalog {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Merienda', cursive;
    color: #FFFFFF;
    text-align: center;
    padding-top: 60px;
}